#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* styles.css */

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: lightgrey;
  cursor: pointer;
}

.buffered {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: blue;
}

.played {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
}
